h1{
    text-align: center;
    color: rgb(3, 189, 12);
}

h2{
    margin-left: 10px;
    color: rgb(3, 189, 12);
}

p {
    margin-left: 40px;
    margin-bottom: 50px;
    color: rgb(3, 189, 12);
}

body{
    border-style: solid;
    background-image: linear-gradient(rgb(32, 32, 32), rgb(56, 56, 56));
    background-size: auto, auto;
    background-repeat: no-repeat;
}