@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(90deg, lightblue, lightgreen, lightgreen, green);
}

#videos{
    text-align: center;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.card{
    background-color: azure;
    margin: 1%;
    max-width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
}

.title{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

.redirect{
    width: 25%;
    height: 25px;
    font-size: .9rem;
    background-color: #3b5998;
    border: none;
    box-shadow: 1px 1.5px 1.5px black;
}

.redirect:hover{
    transition: .3s ease;
    background-color: #263c6b;
}

.redirect a{
    color: white;   
}